html {
    font-size: 1rem;
    font-family: "Tiro Telugu", serif;
    color: rgb(243, 243, 243);
}

body {
    margin: 0;
    background-image: linear-gradient(
            45deg,
            rgba(181, 148, 208, 0.912),
            rgba(221, 151, 151, 0.8)
        ),
        url("https://images.unsplash.com/photo-1524758631624-e2822e304c36?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

#survey-form {
    width: 600px;
    height: auto;
    margin: auto;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgba(67, 51, 87, 0.7);
}

#title {
    margin: 1rem auto;
    text-align: center;
}

#description {
    text-align: center;
}

#name-label,
#email-label,
#number-label {
    text-align: left;
    display: block;
    margin-left: -0.03rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
#dropdown,
#textbox {
    width: 100%;
    margin-top: 0.3rem;
    padding: 0.6rem;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    color: gray;
    font-size: 1rem;
}

.exp {
    display: block;
}

.exp input[type="radio"] {
    margin-left: -0.03rem;
    height: 3rem;
    vertical-align: -1.2rem;
}

fieldset {
    border: none;
}

.fieldset1 {
    width: 97.5%;
}

.fieldset1 label {
    margin: 0.8rem;
}

.fieldset2 {
    padding: 0.8rem;
}

.fieldset3 {
    padding: 0.8rem;
}

.fieldset4 {
    padding: 0.8rem;
}

.fieldset4 input[type="checkbox"] {
    margin-left: -0.17rem;
}

.fieldset5 {
    margin-top: -1rem;
    padding: 0.8rem;
}

textarea {
    height: 6rem;
}

.ref {
    padding: 0.3rem;
    display: block;
}

input[type="radio"] {
    vertical-align: none;
}

#submit {
    display: block;
    margin: 1em auto;
    width: 95.2%;
    padding: 0.6rem;
    text-align: center;
    border: 1px solid green;
    border-radius: 10px;
    background-color: rgb(115, 207, 115);
}
